html{
	height:100%;
}

body {
	margin:0;
	font-family: Arial;
	height:100%;
}

header{
	position:fixed;
	top:0px;
	width:100%;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;
}

.page-container{
	display:flex;
	background:#fff;	
	padding-top: 5%;
	/*height:100%;
	width:100%;*/
}

.side-menu {
	background:#fff;
	flex: 0 0 25%;
/*	left:0;
	border-right: 1px solid #efe4e4;*/
}

.site-content {
	background:#fff;
	flex:1;
}

.body-container{
	margin-right:1%;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
}

.category-container{
	margin:1%;
	padding-left:1%;
	padding-bottom:1%;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
}
#footer{
	clear:both;
	left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
}

.ribbon {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.info-bar{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	background-color: #117bf3;
	border-radius:5px;
	color: #fff;
	box-shadow: 0 0 0 0 rgba(248, 243, 243, 0.1), 0 0 2px 0 rgba(114, 111, 111, 0.2);
}

.info-bar p{
	margin-left:2%;
	margin-right:2%;
	padding-top:1%;
	padding-bottom:1%;
}

.info-bar a{
	color:#fff;
}

.error-bar{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	background-color: #ff0000;
	border-radius:5px;
	color: #fff;
}

.error-bar p{
	margin-left:2%;
	margin-right:2%;
	padding-top:1%;
	padding-bottom:1%;
}

.error-bar a{
	color:#fff;
}

table{
	border: 1px solid #e6e6e6;
	width:45%;
	border-collapse: collapse;
}

th{
	padding-top:1%;
	padding-bottom:1%;
	background:#117bf3;
	color:#fff;
	font-family:"Calibri";
	text-align:left;	
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

td{
	border: 1px solid #e6e6e6;
	font-family:"Calibri";
}

tr:hover {
	background-color: #ddd;
}

.category-container p{
}

h3{
	font-family:"Segoe UI";
	color: #02c94b;
}



